@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

* {
    color-scheme: dark;
    font-family: 'Poppins', sans-serif;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate3d(0, -1rem, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animate-fadein {
    animation: fadein 0.3s ease-in;
}